.main {
margin-top: 5vh;
}


figcaption{ 
    display: flex;
    justify-content: center;
}

.mainarticulos {display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    width: 540px;
    height: 860px;
    margin: 20px 20px;
}

